/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-menu {
  @extend %btn;
  right: 16px;
  position: fixed;
  top: 16px;
  z-index: 601;
  
  @include bp-xl() {
    right: calc(((100% - 1200px) / 2) + 18px);
    top: 18px;
  }
}
