/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/menu
 * -----------------------------------------------------------------------------
 */

.btn-menu {
  @extend %btn;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1 !important;
  height: 29px;
  right: 16px;
  position: fixed;
  top: 16px;
  text-align: center;
  width: 39px;
  z-index: 601;
  
  @include bp-lg() {
    height: 43px;
    width: 48px;
  }

  @include bp-xxl() {
    right: calc(((100% - #{$page-max-width-xxl}) / 2) + 18px);
    top: 18px;
  }

  .burger-sm {
    display: inline-block;
    @include bp-lg() {
      display: none;
    }
  }

  .burger-lg {
    display: none;
    @include bp-lg() {
      display: inline-block;
    }
  }

  .cross-sm,
  .cross-lg {
    display: none;
  }

  &.is-active {
    .burger-sm,
    .burger-lg {
      display: none;
    }

    .cross-sm {
      display: inline-block;
    }

    @include bp-lg() {
      .cross-sm {
        display: none;
      }
      .cross-lg {
        display: inline-block;
      }
    }
  }
}
