/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: $color-grey;
  border-radius: 2px;
  border: none;
  color: $color-white;
  @include font-size($fs-btn);
  @include font-bold();
  letter-spacing: 0.06em;
  padding: 16px 24px;
  width: auto;
  text-transform: uppercase;
  transition: all .1s ease-out;

  &:hover {
    background-color: $color-black;
  }
}