/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/submit
 * -----------------------------------------------------------------------------
 */

.btn-submit {
  @extend %btn;
  @extend %md\:ml-15x;
  color: $color-black;
  @include font-bold();
  padding: 0;
  text-transform: uppercase;

  &:hover {
    background-color: transparent !important;
  }

  // &:before {
  //   transform: translate(0,0);
  // }

  // &.is-loading {
  //   &:before {
  //     animation-fill-mode: both;
  //     animation: loading 1s infinite;
  //   }
  // }
}

@keyframes loading {
  0% { 
		transform: translate(0,0);
	}
  100% { 
		transform: translate(100px,0);
	}
}