/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #000000;
$color-white:      #ffffff;
$color-light:      #f9f9f9;
$color-grey:       #888888;

$color-primary:    #ffffff;
$color-secondary:  #916e5a;

// Notifications
$color-danger:  #ff5700;
$color-success: #31572C;
$color-info:    #F2DD6E;

