/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #000000;
$color-white:      #ffffff;
$color-grey:       #999999;
$color-medium:     #eeeeee;
$color-light:      #f9f9f9;


// Notifications
$color-danger:  red;
$color-success: green;
$color-info:    yellow;

