/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
 
/* Box shadows
 * -------------------- */

$box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.45);

/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);

/* Urls
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '../img/icons/';
$url-svg:    '../img/svg/';

/* Breakpoints
 * -------------------- */

$bp-sm:  600px;
$bp-md:  700px;
$bp-lg: 1000px;
$bp-xl: 1200px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg
);

/* Site
 * -------------------- */

$page-max-width:     1200px;
$content-max-width:  1068px;
$lightbox-max-width:  950px;

/* Header
 * -------------------- */

$header-height:    58px;
$header-height-lg: 82px;
 
/* Grids
 * -------------------- */

$grid-gap-sm: 10px;
$grid-gap-md: 15px;


