/**
 * -----------------------------------------------------------------------------
 * File: views/workshop
 * -----------------------------------------------------------------------------
 */

.workshop {

  header {
    h1 {
      @extend %mb-2x;
      @extend %letter-spacing;
      display: block;
      @include font-size($fs-md);
      @include font-bold();
    }
    
    h2 {
      @extend %mb-4x;
      @extend %lg\:mb-6x;
      @include font-bold();
      @include font-size($fs-lg);
      line-height: 1 !important;
      max-width: none;
    }

    h3 {
      @extend %uppercase;
      @extend %mb-4x;
      @include font-size($fs-md);
      @include font-bold();
    }
  }
}