/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

@font-face {
  font-family: 'RikeMono';
  font-display: swap;
  src: url('fonts/RikeMonoPP-Regular.woff2'), url('fonts/RikeMonoPP-Regular.woff');
  font-weight: normal;
  font-style: normal;
} 