/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */

.desktop-only {
	display: none;
	@include bp-lg() {
		display: block;
	}
}

.mobile-only {
	display: block;
	@include bp-lg() {
		display: none;
	}
}