/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */

.is-desktop {
	display: none;
	@include bp-lg() {
		display: block;
	}
}

.is-mobile {
	display: block;
	@include bp-lg() {
		display: none;
	}
}