/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  color: $color-primary;
  transition: color .1s ease-in;
  
  &:hover {
    color: $color-secondary;
  }
}