
/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/lightbox
 * -----------------------------------------------------------------------------
 */

nav.lightbox {
  @extend %mx-auto;
  @extend %mb-16x;
  @extend %lg\:mb-12x;
  display: flex;
  justify-content: flex-start;
  max-width: $lightbox-max-width;

  @include bp-xl() {
    justify-content: flex-end;
  }

  &.is-top {
    min-height: 35px;
    @include bp-lg() {
      min-height: 49px;
    }
  }

  &.is-bottom {
    @extend %mt-16x;
    @extend %lg\:mt-32x;
    margin-bottom: 0 !important;
  }

  ul {
    display: flex;
    justify-content: space-between;
    max-width: 64px;
    width: 100%;

    @include bp-xl() {
      max-width: 86px;
    }
  }

  a.btn-lightbox-close {
    display: block;
    height: 29px;
    position: fixed;
    right: $space-8x;
    top: $space-8x;
    width: 29px;

    @include bp-lg() {
      height: 43px;
      right: calc((100% - 950px) / 2);
      width: 43px;
    }

    @include bp-xl() {
      right: calc(((100% - 1200px) / 2) + 20px);
    }
  }

  // icons
  .lightbox-mobile {
    display: inline-block;
  }

  .lightbox-desktop {
    display: none;
  }

  @include bp-lg() {
    .lightbox-mobile {
      display: none;
    }

    .lightbox-desktop {
      display: inline-block;
    }
  }
}