/**→
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

article.card {
  @extend %card;
}

article.lead {
  @extend %columns-lg;
  @extend %mb-12x;
  @extend %md\:mb-18x;
  @extend %lg\:mb-14x;
  @extend %word-break;
  @include font-bold();
  @include font-size($fs-md);

  p {
    @extend %text-indent;
  }
}

article.text-columns {
  @extend %columns-lg;
  @extend %word-break;

  p {
    @extend %text-indent;
  }
}


article.text,
article.member {
  @extend %md\:span-6;
  @extend %lg\:span-4;
}

article.member {
  @extend %mb-12x;
  @extend %md\:mb-0;

  h3 {
    @extend %md\:mb-0;
    @include font-size($fs-md);
    letter-spacing: normal;
    text-transform: none;
  }
}

article.text {
  @extend %mb-12x;
  @extend %word-break;
  
  &:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    word-break: normal;
    hyphens: none;
  }

  p {
    @extend %text-indent;
  }
}

article.teaser {
  @extend %card-small;
}

article.video {
  @extend %md\:span-6;
  @extend %mb-12x;
  h3 {
    @extend %mb-4x;
  }
}

article.text-media {
  @extend %mb-15x;
  @extend %lg\:grid-cols-12;
  max-width: 505px;

  @include bp-lg() {
    max-width: none;
  }

  &.is-lg {
    @extend %md\:mb-20x;
    @extend %lg\:mb-30x;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  figure {
    @extend %mb-5x;
    @extend %lg\:mb-0;
  }

  h2 {
    @extend %lg\:mb-1x;
  }

  p {
    @extend %text-indent;
  }

  .text-media__links {
    @extend %mt-4x;
  }
}