/**
 * -----------------------------------------------------------------------------
 * File: form/placeholder
 * -----------------------------------------------------------------------------
 */

input[type=text]::-webkit-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=text]::-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
  opacity: 1 !important;
}

input[type=text]:-ms-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=text]:-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
  opacity: 1 !important;
}

input[type=number]::-webkit-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=number]::-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=number]:-ms-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=number]:-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
  opacity: 1 !important;
}

input[type=email]::-webkit-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=email]::-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
  opacity: 1 !important;
}

input[type=email]:-ms-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

input[type=email]:-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
  opacity: 1 !important;
}

textarea::-webkit-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

textarea::-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
  opacity: 1 !important;
}

textarea:-ms-input-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}

textarea:-moz-placeholder {
  color: $color-black;
  padding: 0 0 $space-4x 0;
}