/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-sm: (
  null: (14px,1.23),
  sm:   (14px,1.23),
  md:   (14px,1.23),
  lg:   (14px,1.23),
);

$fs-md: (
  null: (16px,1.23),
  sm:   (16px,1.23),
  md:   (16px,1.23),
  lg:   (16px,1.23),
);


$fs-lg: (
  null: (24px,1.15),
  sm:   (24px,1.15),
  md:   (24px,1.15),
  lg:   (24px,1.15),
);

// Auth / Buttons
$fs-btn: (
  null: (14px,1.23),
  sm:   (14px,1.23),
  md:   (15px,1.23),
  lg:   (15px,1.23),
);