/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%anchor,
.anchor {
  align-items: center;
  color: $color-black;
  @include font-regular();
  @include font-size($fs-sm);
  display: inline-flex;

  svg {
    display: inline-block;
  }

  &.is-grid {
    display: grid !important;
    grid-template-columns: 30px auto;

    svg {
      @extend %mt-1x;
    }
  }

  &.anchor--arrow {
    align-items: unset;
    display: flex;
    transition: transform .1s ease-in;
    svg {
      @extend %mr-3x;
      @extend %xxl\:mt-1x;
    }
  }

  &.anchor--external {
    align-items: unset;
    display: flex;
    transition: transform .1s ease-in;
  }


  &.anchor--chevron {
    @extend %mt-2x;
    svg {
      @extend %ml-3x; 
    }
  }

  &.anchor--file {
    align-items: unset;
    svg {
      @extend %mr-3x;
    }
  }

  &.anchor--toggle {
    svg:first-of-type {
      display: inline-block;
    }
    svg:last-of-type {
      display: none;
    }

    &.is-active {
      svg:first-of-type {
        display: none;
      }
      svg:last-of-type {
        display: inline-block;
      }
    }
  }
}


.anchor-external {
  @extend %anchor;
  @include background-default();
  background-image: url($url-icons + 'arrow-right.svg');
  background-size: 19px 15px;
  background-position: top 1px left;
  padding-left: 25px;
  text-indent: 0 !important;
}

p + .anchor-external {
  @extend %mt-4x;
}
