/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%anchor,
.anchor {
  align-items: center;
  color: $color-black;
  @include font-regular();
  @include font-size($fs-sm);
  display: inline-flex;

  svg {
    display: inline-block;
  }

  &.anchor--arrow {
    align-items: unset;
    display: flex;
    transition: transform .1s ease-in;
    
    span {
      transform: translateX(0);
      transition: transform .1s ease-in;
    }
    
    svg {
      @extend %mr-3x;
    }
    
    &:hover {
      span {
        transform: translateX(4px);
      }
    }
  }

  &.anchor--chevron {
    @extend %mt-2x;
   
    svg {
      @extend %ml-3x; 
    }
  }

  &.anchor--file {
    align-items: unset;
    svg {
      @extend %mr-3x;
    }
  }
}
