/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

%anchor,
.anchor {
  align-items: center;
  color: $color-black;
  @include font-regular();
  @include font-size($fs-sm);
  display: inline-flex;

  svg {
    display: inline-block;
  }

  &.is-grid {
    display: grid !important;
    grid-template-columns: 30px auto;

    svg {
      @extend %mt-1x;
    }
  }

  &.anchor--arrow {
    align-items: unset;
    display: flex;
    transition: transform .1s ease-in;
    svg {
      @extend %mr-3x;
    }
  }

  &.anchor--chevron {
    @extend %mt-2x;
   
    svg {
      @extend %ml-3x; 
    }
  }

  &.anchor--file {
    align-items: unset;
    svg {
      @extend %mr-3x;
    }
  }
}
