/**
 * -----------------------------------------------------------------------------
 * File: icons/dash
 * -----------------------------------------------------------------------------
 *
 */
.dash {
  bottom: 6px;
  display: inline-block;
  margin-right: 2px;
  position: relative;
}
